body, .header {
    width : 100%;
    margin:0px;
    top:0;
    padding-top:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow-x: hidden;
    
  }
  
  .site-nav{
  height:10%;
  top:0;
    padding-top:0;
    position:relative;
    margin:0;
  }
  
  .Navbar {
    background-color:rgba(176, 192, 212, 0.281);
    display: flex;
    padding: 0px 12px 10px 12px;
    font-family: sans-serif;
    color: white;
  }
  
  .Navbar__Link {
    font-family:'Philosopher, sans-serif';
    padding-right: 1.5rem;
    color:rgba(55, 108, 168, 0.616);
    
  }
  
  
  .Navbar__Link a{
    color:rgba(55, 108, 168, 0.616);
    text-decoration: none;

  }
  
  .Navbar__Link a:hover{
    color:rgba(55, 108, 168, 0.4);
    text-decoration: none;
    
  }

  .Navbar__Items {
    display: flex;
    font-size:15px;
    padding-top:1.5rem;
    padding-bottom:1rem;
    margin-left:auto;
    padding-right:4rem;
  }
  
  
  .Navbar__Link-toggle {
    display: none;
  }
  
        
  .company-logo{
  position:relative;
  top:1rem;
    padding-left:5rem;
    color:rgba(55, 108, 168, 0.616);
  font-size:2.2rem;
  }


.cv_top{
    display:inline-grid;
    grid-template-columns: 20% 80%;
    height:40%;
    background-color:rgba(28, 88, 99, 0.288);
   padding:2rem 4rem 2rem 4rem;
}

.profile_img {
    width: 80%;
    height:100%;
}

.cv_top2{
    width:100%;
    height:100%;
    
}

.cv_top2 p{
    font-size:1.5rem;
}

.cv_body{
    
    top:0;
    
    position:relative;
   background-color:white;;
}
.bio_data, .personal_strength, .core_competence, .pro_train{
    text-align:center;
}

.biodata{
   
    padding-top: 0px;
    grid-gap: 0px 0px;
    margin-left: 5rem;
    margin-right:5rem;
    display:inline-grid;
    grid-template-columns: 100% 100%;
    
}

.personalstrength, .corecompetence, .protrain{
    grid-gap: 0px 0px;
    margin-left: 5rem;
    margin-right:5rem;
    display:inline-grid;
    grid-template-columns: 50% 50%;
}

.biodata, .personalstrength, .corecompetence, .protrain div{
    line-height:1.5rem;
}

.last_part{
    padding-left:5rem;
    padding-right:5rem;
}

.gallery {
    display: flex;
  }
  .img img{
      width:100%;
      height:70%;
  }
.img {
    flex: 20%;
    padding-right: 1rem;;
}

.footer{
    text-align:center;
    background-color:rgba(28, 88, 99, 0.288);
    height:10%;
}

.footer p{
    padding-top:1.1rem;
    padding-bottom:0.5rem;
}

  
  




  @media only screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
      font-size:14px;
    }

    .Navbar__Items,
    .Navbar {
      flex-direction:column;
    }

    .nav-link a{
      padding:3rem;
    }

  .Navbar__Items {
      display:none;
      margin-left:0;  
    }
  
  .Navbar__ToggleShow {
      display: flex;
      line-height:1.5rem;
     
    }

  .Navbar__Link-toggle {
    padding-top:1rem;
      align-self: flex-end;
      display: initial;
      position: absolute;
      cursor: pointer;
     } 
    
     .profile_img{
         display:none;
     }
     
     .cv_top{
       padding: 2rem;
        display:inline-grid;
        grid-template-columns: 0 100%; 
     }

     .biodata{
      margin-left: 2rem;
      margin-right:2rem;
      display:inline-grid;
      grid-template-columns: 100% 100%  
  }

    .personalstrength, .corecompetence, .protrain, .biodata, .gallery{ 
                display:inline-block;
                margin-left: 2rem;
                margin-right:2rem;
    }
    .last_part{
      padding-left:2rem;
      padding-right:2rem;
  }
    
     img {
        width:100%;
        height:20%;
        padding-top:1rem;
    }

    }
 